<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>

  <% @articles.each do |article| %>
      <p><%= article.title%></p>
      <p><%= article.content %></p>
      <p><%= link_to 'Show', article_path(article) %></p>
      <p> Written by <%= article.author %> at <%= article.created_at %></p>
  <% end %>
</table>

  <%= link_to 'New Article', new_article_path %>
