<h1>New Article</h1>
<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, :id, :article_title %>
  </p>

  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content, :id, :article_content %>
  </p>

  <p>
    <%= form.label :author %><br>
    <%= form.text_area :author, :id, :article_author%>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
